<div class="container" *ngIf = "weatherData">
    <div class="upper-data">
        <img src="../assets/hotWeather.webp" *ngIf="weatherData.current.temp_c > 15">
        <img src="../assets/cold1.jpg" *ngIf="weatherData.current.temp_c <= 15">
        <div class="weather-data">
            <div class="location">{{weatherData.location.name}}</div>
            <div class="temperature">{{weatherData.current.temp_c | number: '1.0-0'}} °C</div>
        </div>
    </div>

    <div class="lower-data">


        <div class="info-block">
            <div class="info-block-label">
                <img src="../assets/precipitation.png" alt=""> <!-- Sunrise icon -->
                <span>Precipitation</span>
            </div>
            <div class="info-block-value">
                {{ weatherData.current.precip_mm }} mm
            </div>
        </div>

        <div class="info-block">
            <div class="info-block-label">
               <img src="../assets/visibility.webp" alt=""> <!-- Min icon -->
                <span>Visibility</span>
            </div>
            <div class="info-block-value">{{weatherData.current.vis_km}} Km</div>
        </div>

        <div class="info-block">
            <div class="info-block-label">
                <img src="../assets/pressure.png" alt=""> <!-- Min icon -->

                <span>Pressure</span>
            </div>
            <div class="info-block-value">{{weatherData.current.pressure_mb}} mb</div>
        </div>

        <div class="info-block">
            <div class="info-block-label">
                <img src="../assets/humidity-icon.webp" alt=""> <!-- Min icon -->

                <span>Humidity</span>
            </div>
            <div class="info-block-value">{{weatherData.current.humidity}}%</div>
        </div>

        <div class="info-block">
            <div class="info-block-label">
                <img src="../assets/windy.png" alt=""> <!-- Min icon -->
                    <span>Wind</span>
                    </div>
                    <div class="info-block-value">
                       {{weatherData.current.wind_kph}} km/h
                       
        </div>

                


    </div>
</div>

<router-outlet></router-outlet>































